@tailwind base;
@tailwind components;
@tailwind utilities;

*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

@layer components {
  body {
    @apply bg-black;
  }

  .nav {
    @apply bg-[url('/public/bg.jpg')] w-full h-[512px] bg-bottom flex items-center justify-center text-white;
  }

  .nav h1 {
    @apply text-white font-bold text-3xl;
  }

  .form {
    @apply flex flex-col mx-4;
  }

  .form-input {
    @apply px-4 py-2 text-black rounded-xl w-full;
  }

  .btn {
    @apply px-4 py-2 bg-white  w-1/4 mx-auto mt-4 rounded-xl;
  }

  .card {
    @apply mx-4 mt-12;
  }

  .card-container {
    @apply text-white flex flex-col my-8 rounded-lg bg-zinc-800;
  }

  .card-container img {
    @apply rounded-tl-lg rounded-tr-lg;
  }

  .card-text {
    @apply p-4;
  }
}
